<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commons_btn_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,350},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>commons_btn_back_01_cnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,350},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>commons_btn_back_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,280},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>commons_btn_back_02_cnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,280},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>commons_btn_back_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,371},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>commons_btn_back_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,437},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>commons_btn_back_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,371},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>commons_btn_cancel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,210},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>commons_btn_cancel_01_cnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,210},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>commons_btn_cancel_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,140},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>commons_btn_cancel_02_cnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,140},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>commons_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,5},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{18,16}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>commons_btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,420},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gui_battle_progress_bar01_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,104},{403,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,37}}</string>
                <key>sourceSize</key>
                <string>{403,37}</string>
            </dict>
            <key>gui_battle_progress_bar01_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{403,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,37}}</string>
                <key>sourceSize</key>
                <string>{403,37}</string>
            </dict>
            <key>gui_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,39},{150,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,116}}</string>
                <key>sourceSize</key>
                <string>{150,116}</string>
            </dict>
            <key>gui_separate.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{1,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,100}}</string>
                <key>sourceSize</key>
                <string>{1,100}</string>
            </dict>
            <key>gui_setting_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{52,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,35}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>gui_setting_slider_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,157},{330,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,40}}</string>
                <key>sourceSize</key>
                <string>{330,40}</string>
            </dict>
            <key>gui_window01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,5},{347,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,91}}</string>
                <key>sourceSize</key>
                <string>{347,91}</string>
            </dict>
            <key>gui_window02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,98},{271,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,196}}</string>
                <key>sourceSize</key>
                <string>{271,196}</string>
            </dict>
            <key>separate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,1}}</string>
                <key>sourceSize</key>
                <string>{446,1}</string>
            </dict>
            <key>settings_btn_default_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,119},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>settings_btn_default_01_cnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,98},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>settings_btn_default_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,489},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>settings_btn_default_02_cnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,5},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>start_btn_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,140},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{14,12}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>start_btn_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,140},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{14,12}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>start_btn_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,23},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{14,12}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>start_btn_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,23},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{14,12}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3e07513133a479d10c9f9a2c2324822:1/1$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
