<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>status_equip_none</key>
	<string>（无）</string>
	<key>status_equip_arms</key>
	<string>武器：%s</string>
	<key>status_equip_armor</key>
	<string>防具：%s</string>
	<key>status_name</key>
	<string>名字：%s</string>
	<key>status_level</key>
	<string>Level：%i （Next：%i）</string>
	<key>status_hp</key>
	<string>HP：%i / %i</string>
	<key>status_mp</key>
	<string>MP：%i / %i</string>
	<key>status_attack</key>
	<string>攻击：%i</string>
	<key>status_defense</key>
	<string>防御：%i</string>
	<key>status_speed</key>
	<string>速度：%i</string>
	<key>status_skill_attack</key>
	<string>魔攻：%i</string>
	<key>status_skill_defense</key>
	<string>魔防：%i</string>
	<key>confirm_exit_ok</key>
	<string>确定</string>
	<key>confirm_cancel</key>
	<string>取消</string>
	<key>confirm_exit</key>
	<string>退出游戏返回到初始界面。</string>
	<key>menu_gold</key>
	<string>金钱：</string>
	<key>menu_map</key>
	<string>所在位置：</string>
	<key>menu_back</key>
	<string>后退</string>
	<key>menu_close</key>
	<string>关闭</string>
	<key>menu_exit</key>
	<string>退出</string>
	<key>menu_skill</key>
	<string>技能</string>
	<key>menu_skill_choice</key>
	<string>对谁使用[%s]技能呢？</string>
	<key>menu_skill_fail</key>
	<string>技能使用失败</string>
	<key>menu_status</key>
	<string>状态</string>
	<key>menu_items</key>
	<string>道具</string>
	<key>menu_items_discard</key>
	<string>丢弃[%s]</string>
	<key>menu_items_choice</key>
	<string>对谁使用[%s]道具呢？</string>
	<key>menu_items_fail</key>
	<string>道具使用失败</string>
	<key>menu_equip</key>
	<string>装备</string>
	<key>menu_equip_attack</key>
	<string>攻击：%i</string>
	<key>menu_equip_defense</key>
	<string>防御：%i</string>
	<key>menu_equip_speed</key>
	<string>速度：%i</string>
	<key>menu_equip_skill_attack</key>
	<string>魔攻：%i</string>
	<key>menu_equip_skill_defense</key>
	<string>魔防：%i</string>
	<key>menu_equip_none</key>
	<string>（无）</string>
	<key>menu_equip_arms</key>
	<string>武器：%s</string>
	<key>menu_equip_armor</key>
	<string>防具：%s</string>
</dict>
</plist>
