<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>confirm_ok</key>
	<string>确定</string>
	<key>confirm_cancel</key>
	<string>取消</string>
	<key>confirm_delete</key>
	<string>确定删除之前的进度吗？</string>
	<key>mainmenu_start</key>
	<string>继续游戏</string>
	<key>mainmenu_restart</key>
	<string>重新开始</string>
	<key>mainmenu_settings</key>
	<string>游戏设置</string>
	<key>settingslab_style</key>
	<string>选择样式</string>
	<key>settingsmenu_bgaudio</key>
	<string>背景音乐</string>
	<key>settingsmenu_effectaudio</key>
	<string>效果声音</string>
	<key>settingsmenu_restore</key>
	<string>恢复默认</string>
	<key>settingsmenu_back</key>
	<string>返回</string>
	<key>settingsmenu_audio_on</key>
	<string>开</string>
	<key>settingsmenu_audio_off</key>
	<string>关</string>
	<key>settingsmenu_style01</key>
	<string>样式1</string>
	<key>settingsmenu_style02</key>
	<string>样式2</string>
	<key>settingsmenu_style03</key>
	<string>样式3</string>
</dict>
</plist>
