<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>confirm_ok</key>
	<string>确定</string>
	<key>confirm_cancel</key>
	<string>取消</string>
	<key>confirm_delete</key>
	<string>确定删除之前的进度吗？</string>
	<key>menuitem_start</key>
	<string>继续游戏</string>
	<key>menuitem_delete</key>
	<string>重新开始</string>
</dict>
</plist>
